$primary_color: rgb(226, 220, 220);

body {
  background-color: $primary_color;
  font: {
    family: Verdana, Helvetica, Arial;
    size: 14px;
  }
}

a {
  color: #504e4e;
  text-decoration: none;
  &:hover{
      color: black;
  }
  img {
    border: none;
  }
}

.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

#container {
  width: 75%;
  margin: 0 auto;
  background: rgba(173, 170, 170, 0.781);
  padding: 20px 40px;
  border: solid 1px black;
  margin-top: 20px;
}

#content {
  clear: both;
  padding-top: 20px;
}

.internal-link {
    display: inline-block;
    padding: 4px 11px;
    margin: 3px;
  font-size: 0.9em;
  -moz-box-shadow: rgba(255, 255, 255, 0.4) 0 -1px inset;
  -webkit-box-shadow: rgba(255, 255, 255, 0.4) 0 -1px inset;
  -o-box-shadow: rgba(255, 255, 255, 0.4) 0 -1px inset;
  box-shadow: rgba(255, 255, 255, 0.4) 0 -1px inset;
  -moz-border-radius: 1.2em;
  -webkit-border-radius: 1.2em;
  -o-border-radius: 1.2em;
  -ms-border-radius: 1.2em;
  -khtml-border-radius: 1.2em;
  border-radius: 1.2em;
  background-image: -webkit-gradient(
    linear,
    50% 0%,
    50% 100%,
    color-stop(0%, #ffffff),
    color-stop(100%, #cccccc)
  );
  background-image: -moz-linear-gradient(#ffffff, #cccccc);
  background-image: linear-gradient(#ffffff, #cccccc);
  text-shadow: #fff 0 1px;
  color: #999999;
  text-decoration: none;
}
th {
  padding-right: 5px;
}